<!DOCTYPE html>
<html>
<head>
    <title>Visitor's End</title>
</head>
<body>
    <h1>Select a department and create an appointment</h1>
    <form method="post" action="">
        {% csrf_token %}
        <label for="name">Name:</label>
        {{form.name}}
        <label for="mobile_number">Mobile Number:</label>
        {{form.mobile_number}}
        <label for="department_id">Department:</label>
        {{form.department}}
        <button type="submit">Create Appointment</button>
    </form>
    
    ----------------
    <ul>
    {% for app in appo %}
        
        <li>{{app}}</li> 
    {% endfor %} 
    </ul>
       
</body>
</html>
